.app {
  width: 100vw;
  height: 100vh;
  background-color: #a1bfdf;
}

.app__section {
  min-width: 400px;
  border: 5px solid #000;
  border-radius: 5px;
  background-color: #b6f7b3;
  text-align: center;
  padding: 60px;
}

.app__section__icon {
  font-size: 220px;
  color: #000;
  margin: 10px;
}
