body{
    background-color: #F7B733;
}

.wrapper {
  background-color: #4ABDAC;
  margin: auto;
  width: 500px;
}

.app {
  flex-wrap: wrap;
  flex-basis: 50%;
}

.app__section {
  min-width: 300px;
  min-height: 200px;
  margin: 1% auto;
  padding: 1%;
  text-align: center;
}

h1 {
  text-align: center;
}

h1,
a,
label {
 color: #DFDCE3;
}
