.app {
  min-width: 90vw;
  min-height: 80vh;
  background-color: #fff7b6;
  flex-grow: 1;
}

.app__section {
  flex-grow: 1;
  min-width: 400px;
  background-color: #b6f7b3;
  text-align: center;
  padding: 60px;
}

h1 {
  text-align: center;
}
